@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syncopate:wght@400;700&display=swap');


:root {
    --dm-sans: "DM Sans", sans-serif;
    --border-color: linear-gradient(113.96deg, #00FDC8 -31.79%, #00FDC8 26.41%, #344DD4 66.86%);
    --text-color: linear-gradient(113.96deg, #00FDC8 -31.79%, #00FDC8 26.41%, #344DD4 66.86%);
    --poppins: "Poppins", sans-serif;
    --syncopate: "Syncopate", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

ul,
menu {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: transparent;
    background: transparent;
}


/* COMMON STYLES  */
.gradient-border {
    background: linear-gradient(113.96deg, #00FDC8 -31.79%, #00FDC8 26.41%, #344DD4 66.86%);
    padding: 2px;
    border-radius: 100px;
    max-width: max-content;
    max-height: max-content;
}

.common-btn {
    max-width: max-content;
    max-height: max-content;
    gap: 10px;
    opacity: 1;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    border-radius: 100px;
    background: #08060C;
    font-family: var(--poppins);
    font-weight: 500;
    font-size: 16px;
    line-height: 148%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.section-heading {
    gap: 24px;
}

.section-heading h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    text-transform: uppercase;
    color: #585760;
    gap: 7px;
}

.section-heading h4 span {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: linear-gradient(129.15deg, #00FDC8 -4.81%, #344DD4 99.06%);
    backdrop-filter: blur(5.400000095367432px);
    display: block;
}

.section-heading h2 {
    font-weight: 600;
    font-size: 44px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #08060C;
    max-width: 839px;
    width: 100%;
}

.section-heading p {
    font-weight: 400;
    font-size: 18px;
    line-height: 148%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0px;
}


body {
    font-family: "Gelasio", serif;
}


.header-section {
    height: 64px;
    background: #08060C;
    backdrop-filter: blur(20px);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 50;
}

.header-section.is-sticky {
    position: fixed;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    backdrop-filter: blur(10px);
    animation: slideDown 0.35s ease-out;
}


@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.logo_wrapper a {
    font-family: var(--dm-sans);
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FCFDFF;
}

.header-right-wrapper {
    gap: 32px;
}

.desktop-menu {
    gap: 24px;
}

.desktop-menu li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    color: #FFFFFFCC;
    text-transform: capitalize;
}

.header-right-wrapper button {
    padding: 10px 12px;
    font-family: var(--dm-sans);
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    border-radius: 100px;
    background: #FDFCFE;
    color: #08060C;

}

.menu-toggle {
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-toggle span {
    position: absolute;
    height: 2px;
    background: white;
    border-radius: 2px;
    transition: 0.4s ease;
}

/* Staggered lines */
.menu-toggle span:nth-child(1) {
    /* width: 18px; */
    width: 14px;
    top: 4px;
    left: 3px;
}

.menu-toggle span:nth-child(2) {
    /* width: 12px; */
    width: 20px;
    top: 11px;
    left: 6px;
}

.menu-toggle span:nth-child(3) {
    width: 14px;
    top: 18px;
    /* left: 9px; */
    right: 0px;
}

/* Active state (cross) */
.menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 11px;
    left: 3px;
    width: 18px;
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 11px;
    left: 3px;
    width: 18px;
}

.mobile-menu-container {
    position: fixed;
    top: 64px;
    left: -110%;
    width: 100%;
    height: 100vh;
    border-top-width: 1px;
    border-bottom-width: 1px;
    background: #08060CE5;
    backdrop-filter: blur(11.399999618530273px);
    padding: 30px 16px;
    transition: 0.7s ease-in-out;
    z-index: 5;
}

.mobile-menu-container.active {
    z-index: 5;
    left: 0px;
}

.mobile-menu {
    gap: 24px;
}

.mobile-menu li a {
    font-weight: 400;
    font-size: 18px;
    line-height: 148%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.mobile-menu-wrapper button {
    width: 100%;
    height: 54px;
    max-height: max-content;
    gap: 8px;
    opacity: 1;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    border-radius: 100px;
    background: #FDFCFE;
    font-family: var(--dm-sans);
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #08060C;

}


/* START HERO SECTION  */
.hero-section {
    padding-top: 63px;
}

.hero-container {
    padding-top: 63px;
    background-image: url('../images/bg/bg.jpg');
    width: 100%;
    /* backdrop-filter: blur(250px); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-container::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #FFFFFF8A;
    backdrop-filter: blur(8px);
    /* z-index: 1; */
}

.hero-left-wrapper,
.hero-right-wrapper {
    position: relative;
    z-index: 1;
}

.hero-left-wrapper h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    text-transform: uppercase;
    gap: 7px;
    color: #585760;
    margin-bottom: 32px;
}

.hero-left-wrapper h5 span {
    width: 10px;
    height: 10px;
    display: block;
    background: linear-gradient(129.15deg, #00FDC8 -4.81%, #344DD4 99.06%);
    border-radius: 100%;
    backdrop-filter: blur(5.400000095367432px);
}

.hero-left-wrapper h3 {
    font-weight: 600;
    font-size: 45px;
    line-height: 111.00000000000001%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #08060C;
    margin-bottom: 32px;
}

.hero-left-wrapper p {
    font-weight: 400;
    font-size: 18px;
    line-height: 148%;
    letter-spacing: 0%;
    text-align: justify;
    color: #383838;

}


.hero-left-wrapper .gradient-border {
    margin-bottom: 32px;
}

.hero-scroll-indicator {
    font-weight: 400;
    font-size: 18px;
    line-height: 148%;
    text-transform: capitalize;
    color: #383838;
    gap: 16px;
}

.hero-scroll-indicator i {
    font-size: 24px;
    background: linear-gradient(113.96deg, #00FDC8 -31.79%, #00FDC8 26.41%, #344DD4 66.86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.hero-right-wrapper img {
    width: 100%;
    height: 690px;
    /* object-fit: cover; */
}


/* slider  */
.slider-container {
    width: 100%;
    height: 104px;
    background: #08060C;

}

.text-slide-item {
    margin-right: 20px;
    border: 1px solid transparent;
    border-image-source: linear-gradient(270deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.67) 50%,
            rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;
    border-image-width: 1;
}


.text-slide-item h4 {
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: 8%;
    text-transform: uppercase;
    color: #FFFFFF;
}


/* START WHY IT MATTER SECTION  */
.wy-matter-section {
    padding-top: 100px;
}

.why-matter-content {
    max-width: 1061px;
    width: 100%;
    margin-top: 24px;
}

.why-matter-content h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 148%;
    color: #08060C;
    margin-bottom: 10px;
}

.why-matter-content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 148%;
    color: #585760;
    margin-bottom: 24px;
}


.why-project-container {
    width: 100%;
    height: 284px;
    border-radius: 16px;
    padding: 70px 72px;
    background: #FFFFFF;
    box-shadow: 7px 10px 30px 0px #AEAFB542;

}

.why-project-wrapper {
    max-width: 260px;
    width: 100%;

}


.why-project-container .why-project-wrapper:nth-child(1) {
    padding-bottom: 24px;
    border-bottom: 1px solid transparent;
    border-image-source: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #007C62 50%, rgba(0, 0, 0, 0) 100%);
    border-image-slice: 1;
    border-image-width: 1;
    border-image-repeat: stretch;
}

.why-project-container .why-project-wrapper:nth-child(2) {
    padding-top: 24px;
    border-top: 1px solid transparent;
    border-image-source: linear-gradient(123.14deg,
            #00FDC8 -3%,
            #000000 36.92%,
            #344DD4 64.67%);
    border-image-slice: 1;
    border-image-width: 1;
    border-image-repeat: stretch;
}

.why-project-container .why-project-wrapper:nth-child(3) {
    padding-bottom: 24px;
    border-bottom: 1px solid transparent;

    border-image-source: linear-gradient(125.36deg,
            #00FDC8 -3.54%,
            #000000 36.97%,
            #344DD4 65.11%);
    border-image-slice: 1;
    border-image-width: 1;
    border-image-repeat: stretch;
}




.why-project-wrapper h4 {
    font-family: var(--syncopate);
    font-weight: 700;
    font-size: 54px;
    line-height: 127%;
    text-transform: uppercase;
    background-clip: text;
    background: linear-gradient(120.75deg, #00FDC8 11.06%, #000000 44.47%, #344DD4 77.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.why-project-wrapper h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    text-align: right;
    text-transform: uppercase;
}

.why-project-mobile-container img {
    width: 100%;
    height: 151px;
    object-fit: fill;
    border-radius: 16px;
}


/* START ABOUT SECTION  */
.about-section {
    padding-top: 40px;
    padding-bottom: 100px;
}

.about-left-wrapper h3,
.about-right-wrapper h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -2%;
    color: #08060C;
    margin-bottom: 24px;
    text-transform: capitalize;
}

.about-left-wrapper p,
.about-right-wrapper p {
    font-weight: 400;
    font-size: 18px;
    line-height: 148%;
    color: #585760;
}

.about-left-wrapper img {
    width: 329px;
    height: auto;
    object-fit: cover;
}



.about-right-wrapper p {
    margin-bottom: 32px;
}

.about-resources-container {
    gap: 16px;
}

.about-resource-wrapper {
    gap: 24px;
    padding: 16px;
    position: relative;
    border: 1px solid #FFFFFF;
    box-shadow: 7px 10px 30px 0px #AEAFB542;
    border-radius: 16px;
}



.about-resource-wrapper img {
    width: 138px;
    height: 138px;
    object-fit: cover;
    border-radius: 12px;
}

.about-resource-inner h5 {
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;
    color: #08060C;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.about-resource-inner span {
    font-family: var(--dm-sans);
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    color: #585760;
    text-transform: capitalize;
    margin-bottom: 24px;
}

.about-resource-inner h4 {
    font-family: var(--dm-sans);
    font-weight: 400;
    font-size: 24px;
    line-height: 148%;
    color: #585760;
}

.about-resource-wrapper>button {
    position: absolute;
    right: 16px;
    bottom: 25px;
    width: 56px;
    height: 56px;
    background: #08060C;
    border-radius: 100%;
    font-size: 18px;
    color: #FFFFFF;

}

.about-right-wrapper>button {
    margin-top: 32px;
    gap: 7px;
    max-width: max-content;
    height: 36px;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    border-radius: 100px;
    background: #FDFCFE;
    font-family: var(--dm-sans);
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #08060C;

}

.about-btn-box {
    margin-top: 40px;
}

/* START PROJECT SECTION  */

.project-section {
    width: 100%;
    background: linear-gradient(120.75deg, #00FDC8 11.06%, #000000 44.47%, #344DD4 77.88%);
    position: relative;
    padding-top: 80px;
    padding-bottom: 36px;
}

.project-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #08060C;
    opacity: .85;
}

.project-section .container .section-heading {
    position: relative;
    z-index: 1;
}

.project-section .container .section-heading h4 {
    color: #FFFFFF;
}

.project-section .container .section-heading h2 {
    color: #FFFFFF;
}

.project-section .container .section-heading p {
    text-align: center;
}

.project-content-container {
    padding: 40px 0px;
}

.project-section-wrapper {
    position: relative;
    padding: 32px;
    border-radius: 32px;
    z-index: 1;
    background: #08060C;

}

.project-section-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 32px;
    padding: 1.55px;
    border: 1.55px solid;
    background: linear-gradient(180deg, rgba(159, 238, 255, 0.36) 0%, rgba(77, 105, 255, 0.36) 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

.project-status {
    width: 48px;
    height: 48px;
    border: 0.65px solid transparent;
    border-image: linear-gradient(270deg,
            rgba(255, 255, 255, 0) -13.45%,
            rgba(255, 255, 255, 0.67) 49.15%,
            rgba(255, 255, 255, 0) 111.74%) 1;
    border-radius: 10px;
    background: #00B49C26;
    margin-bottom: 49px;
}

.project-section-wrapper h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 148%;
    color: #F2F2F7;
    text-transform: capitalize;
    margin-bottom: 49px;
}

.project-section-inner {
    gap: 16px;
}

.project-section-inner button {
    position: relative;
    width: max-content;
    height: 36px;
    border-radius: 16px;
    padding: 2px 16px;
    background: #00B49C26;
    box-shadow: 0px 0px 20px 0px #00706EB2;
    font-family: var(--dm-sans);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-transform: capitalize;
    color: #FFFFFF;
    border: none;
    z-index: 1;
}

.project-section-inner button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 1px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) -13.45%, rgba(255, 255, 255, 0.67) 49.15%, rgba(255, 255, 255, 0) 111.74%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

.project-section-inner button::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    background-image: url('../images/icons/border-image.png');
}


.project-bottom-wrapper {
    position: relative;
    z-index: 1;
}

.project-bottom-wrapper p {
    font-weight: 600;
    font-style: Italic;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 148%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
    max-width: 571px;
}










/*`xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}


/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}


/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {


    .why-project-container {
        width: 100%;
        height: auto;
    }

    .why-project-wrapper {
        max-width: 100%;
        width: 100%;
    }

    .why-project-container .why-project-wrapper:nth-child(2) {
        padding-bottom: 24px;
    }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .hero-right-wrapper img {
        width: 100%;
        height: auto;
    }
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    .hero-left-wrapper h3 {
        font-weight: 600;
        font-size: 27px;
        line-height: 130%;
        letter-spacing: -3%;
        text-align: center;
        text-transform: uppercase;

    }

    .hero-left-wrapper p {
        font-weight: 400;
        font-size: 16px;
        line-height: 148%;
    }

    .text-slide-item h4 {
        font-weight: 500;
        font-size: 14px;
        line-height: 135%;
        letter-spacing: 8%;
    }

    .wy-matter-section {
        padding-top: 40px;
    }

    .section-heading {
        gap: 16px;
    }

    .section-heading h4 {
        font-weight: 400;
        font-size: 12px;
        line-height: 148%;
        text-transform: capitalize;

    }

    .section-heading h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        text-transform: uppercase;
        max-width: 343px;
        width: 100%;
    }

    .why-matter-content h4 {
        font-weight: 600;
        font-size: 16px;
        line-height: 148%;
        margin-bottom: 16px;
    }

    .why-matter-content p {
        font-weight: 400;
        font-size: 16px;
        line-height: 148%;
    }

    .about-left-wrapper h3,
    .about-right-wrapper h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        margin-bottom: 8px;
    }

    .about-left-wrapper p,
    .about-right-wrapper p {
        font-size: 16px;
        line-height: 148%;
    }

    .about-left-wrapper img {
        margin-top: 10px;
        width: 172px;
        height: auto;
        object-fit: cover;
    }

    .about-resource-wrapper {
        gap: 12px;
        padding: 8px;
    }

    .about-right-wrapper {
        margin-top: 40px;
    }

    .about-right-wrapper h3 {
        margin-bottom: 4px;
    }

    .about-right-wrapper p {
        margin-bottom: 24px;
    }

    .about-resource-wrapper img {
        width: 94px;
        height: 94px;
        border-radius: 8px;
    }

    .about-resource-inner h5 {
        font-size: 14px;
    }

    .about-resource-inner span {
        font-size: 10px;
        margin-bottom: 4px;
    }

    .about-resource-inner h4 {
        font-size: 16px;
    }

    .about-resource-wrapper>button {
        position: absolute;
        right: 8px;
        bottom: 10px;
        width: 32px;
        height: 32px;
        font-size: 13px;
    }

    .about-right-wrapper>button {
        margin-top: 24px;
    }

    .about-section {
        padding-bottom: 40px;
    }

    .section-heading p {
        font-size: 16px;
    }

    .project-status {
        margin-bottom: 32px;
    }

    .project-section-wrapper h4 {
        font-size: 20px;
        margin-bottom: 32px;
    }

    .project-section-inner button {
        font-size: 12px;
    }

    .gy-4 {
        gap: 1rem !important;
    }

    .project-bottom-wrapper p {
        font-size: 16px;
        margin-bottom: 24px;
    }

    .project-section {
        padding-bottom: 100px;
    }
}